In [92]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [93]:
# Read in White wine dataset (note file is semi-colon delimited)

White_Wine_df=pd.read_csv("winequality-white.csv",engine='python', delimiter='\;')
White_Wine_df.head(10)

,"""fixed acidity""","""volatile acidity""","""citric acid""","""residual sugar""","""chlorides""","""free sulfur dioxide""","""total sulfur dioxide""","""density""","""pH""","""sulphates""","""alcohol""","""quality"""
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
5,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
6,6.2,0.32,0.16,7.0,0.045,30.0,136.0,0.9949,3.18,0.47,9.6,6
7,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
8,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
9,8.1,0.22,0.43,1.5,0.044,28.0,129.0,0.9938,3.22,0.45,11.0,6

In [94]:
# Read in Red wine dataset (note file is semi-colon delimited)

Red_Wine_df=pd.read_csv("winequality-red.csv",engine='python', delimiter='\;')
Red_Wine_df.head(10)

,"""fixed acidity""","""volatile acidity""","""citric acid""","""residual sugar""","""chlorides""","""free sulfur dioxide""","""total sulfur dioxide""","""density""","""pH""","""sulphates""","""alcohol""","""quality"""
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
5,7.4,0.66,0.00,1.8,0.075,13.0,40.0,0.9978,3.51,0.56,9.4,5
6,7.9,0.60,0.06,1.6,0.069,15.0,59.0,0.9964,3.30,0.46,9.4,5
7,7.3,0.65,0.00,1.2,0.065,15.0,21.0,0.9946,3.39,0.47,10.0,7
8,7.8,0.58,0.02,2.0,0.073,9.0,18.0,0.9968,3.36,0.57,9.5,7
9,7.5,0.50,0.36,6.1,0.071,17.0,102.0,0.9978,3.35,0.80,10.5,5

In [95]:
White_Wine_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4898 entries, 0 to 4897
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   "fixed acidity"         4898 non-null   float64
 1   "volatile acidity"      4898 non-null   float64
 2   "citric acid"           4898 non-null   float64
 3   "residual sugar"        4898 non-null   float64
 4   "chlorides"             4898 non-null   float64
 5   "free sulfur dioxide"   4898 non-null   float64
 6   "total sulfur dioxide"  4898 non-null   float64
 7   "density"               4898 non-null   float64
 8   "pH"                    4898 non-null   float64
 9   "sulphates"             4898 non-null   float64
 10  "alcohol"               4898 non-null   float64
 11  "quality"               4898 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 459.3 KB

In [96]:
Red_Wine_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   "fixed acidity"         1599 non-null   float64
 1   "volatile acidity"      1599 non-null   float64
 2   "citric acid"           1599 non-null   float64
 3   "residual sugar"        1599 non-null   float64
 4   "chlorides"             1599 non-null   float64
 5   "free sulfur dioxide"   1599 non-null   float64
 6   "total sulfur dioxide"  1599 non-null   float64
 7   "density"               1599 non-null   float64
 8   "pH"                    1599 non-null   float64
 9   "sulphates"             1599 non-null   float64
 10  "alcohol"               1599 non-null   float64
 11  "quality"               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

In [119]:
#Rename columns (remove "" and space in names)

White_Wine_Rename_df=White_Wine_df.rename({'"fixed acidity"':'fixed_acidity',
                                           '"volatile acidity"':'volatile_acidity',
                                            '"citric acid"':'citric_acid',
                                           '"residual sugar"':'residual_sugar',
                                           '"chlorides"':'chlorides',
                                           '"free sulfur dioxide"':'free_sulfur_dioxide',
                                           '"total sulfur dioxide"':'total_sulfur_dioxide', 
                                           '"density"':'density',
                                           '"pH"':'pH',
                                          '"sulphates"':'sulphates',
                                          '"alcohol"':'alcohol',
                                          '"quality"':'quality'}, axis="columns") 


White_Wine_Rename_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4898 entries, 0 to 4897
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed_acidity         4898 non-null   float64
 1   volatile_acidity      4898 non-null   float64
 2   citric_acid           4898 non-null   float64
 3   residual_sugar        4898 non-null   float64
 4   chlorides             4898 non-null   float64
 5   free_sulfur_dioxide   4898 non-null   float64
 6   total_sulfur_dioxide  4898 non-null   float64
 7   density               4898 non-null   float64
 8   pH                    4898 non-null   float64
 9   sulphates             4898 non-null   float64
 10  alcohol               4898 non-null   float64
 11  quality               4898 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 459.3 KB

In [120]:
#Rename columns (remove "" and space in names)

Red_Wine_Rename_df=Red_Wine_df.rename({'"fixed acidity"':'fixed_acidity',
                                           '"volatile acidity"':'volatile_acidity',
                                            '"citric acid"':'citric_acid',
                                           '"residual sugar"':'residual_sugar',
                                           '"chlorides"':'chlorides',
                                           '"free sulfur dioxide"':'free_sulfur_dioxide',
                                           '"total sulfur dioxide"':'total_sulfur_dioxide', 
                                           '"density"':'density',
                                           '"pH"':'pH',
                                          '"sulphates"':'sulphates',
                                          '"alcohol"':'alcohol',
                                          '"quality"':'quality'}, axis="columns") 


Red_Wine_Rename_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed_acidity         1599 non-null   float64
 1   volatile_acidity      1599 non-null   float64
 2   citric_acid           1599 non-null   float64
 3   residual_sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free_sulfur_dioxide   1599 non-null   float64
 6   total_sulfur_dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

In [121]:
#check for null values

White_Wine_Rename_df.isnull().sum()

fixed_acidity           0
volatile_acidity        0
citric_acid             0
residual_sugar          0
chlorides               0
free_sulfur_dioxide     0
total_sulfur_dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

In [122]:
#check for null values

Red_Wine_Rename_df.isnull().sum()

fixed_acidity           0
volatile_acidity        0
citric_acid             0
residual_sugar          0
chlorides               0
free_sulfur_dioxide     0
total_sulfur_dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64